**/bin
**/obj
**/node_modules
**/dist
**/coverage
**/.vite
**/.vite-temp
.git
.gitignore
.vscode
.env
.env.*
*.user
**/appsettings.Development.json
**/appsettings.Local.json
**/*.md
Dockerfile*
docker-compose*
.github

hospital-frontend
MyApp.Tests
*.txt
